@charset "UTF-8";
/* Base */
* {
  margin: 0;
  padding: 0;
  letter-spacing: -0.4px;
}

html, body {
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  font-family: "Malgun Gothic", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #333;
  overflow-y: scroll;
  margin-top: env(safe-area-inset-top);
  margin-top: constant(safe-area-inset-top);
}

body.nodrag .card_view,
body.nodrag .feed_view {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
  user-drag: none;
}

img,
a img,
fieldset,
iframe {
  border: none;
  max-width: 100%;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

caption,
legend,
.hide_el {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  border: none;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption {
  position: static;
}

select,
input,
label {
  vertical-align: middle;
  font-family: inherit;
}

[type='button'],
[type='submit'],
[type='text'],
[type='tel'],
[type='password'],
[type='number'],
[type='search'],
textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  font-size: 1.4rem;
  line-height: 1.2;
  font-family: inherit;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

textarea {
  resize: none;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

em, i {
  font-style: normal;
  font-weight: 400;
}

li {
  list-style: none;
}

strong {
  font-weight: bolder;
}

/* Accessibility */
.skip_nav {
  position: absolute;
  top: -43px;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 40px;
  color: #fff !important;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  background-color: #4a66d1;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.skip_nav:focus {
  top: 0;
}

/* datepicker */
.datepicker_wrap {
  overflow: hidden;
}

.datepicker_wrap * {
  float: left;
}

.datepicker_wrap span {
  display: inline-block;
  margin: 0 4px;
  line-height: 26px;
}

.datepicker_wrap label {
  margin-right: 4px;
}

.inp_datepicker {
  vertical-align: middle;
}

.ui-datepicker {
  display: none;
  padding: 0 12px 12px;
  border: 2px solid #c1c1c1;
  background-color: #fff;
}

.ui-datepicker-header {
  position: relative;
  width: 100%;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  overflow: hidden;
  position: absolute;
  top: 12px;
  width: 6px;
  height: 9px;
  text-indent: -999em;
  background: url("../images/btn/btn_datepicker_prev.png") no-repeat;
  cursor: pointer;
}

.ui-datepicker-prev {
  left: 12px;
}

.ui-datepicker-next {
  right: 12px;
  background: url("../images/btn/btn_datepicker_next.png") no-repeat;
}

.ui-datepicker-title {
  height: 32px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
}

.ui-datepicker-calendar {
  width: 100%;
  font-size: 1.1rem;
}

.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
  width: 24px;
  height: 24px;
  font-weight: normal;
  text-align: center;
}

.ui-datepicker-calendar th {
  border: 1px solid #ccd9ec;
  border-width: 1px 0;
  color: #576695;
  background: #e2ebf5;
}

th.ui-datepicker-week-end {
  border-right: 1px solid #ccd9ec;
}

th.ui-datepicker-week-end:first-child {
  border-right-width: 0;
  border-left: 1px solid #ccd9ec;
}

.ui-datepicker-calendar td {
  overflow: hidden;
  position: relative;
  border: 1px solid #e1e1e1;
  font-family: verdana;
  font-size: 1rem;
  cursor: pointer;
}

.ui-datepicker-current-day {
  /*background: #f00;*/
}

td.ui-datepicker-current-day a {
  position: relative;
  z-index: 1;
  text-decoration: underline;
}

.ui-datepicker-current-day:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #ffdd76;
}

.ui-datepicker-calendar td a {
  color: #666;
  text-decoration: none;
}

.ui-datepicker-calendar tr:first-child td:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}

td.ui-datepicker-week-end a {
  color: #3451bf;
}

.ui-datepicker-week-end:first-child a {
  color: #b32a2a;
}

td.ui-datepicker-today a {
  position: relative;
  z-index: 1;
  text-decoration: underline;
}

.ui-datepicker-today:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #f1f1f1;
}

.ui-datepicker-trigger {
  margin: 3px 0 0 -24px;
}

.ie8_only .ui-datepicker-today:after,
.ie8_only .ui-datepicker-calendar tr:first-child td:before {
  display: none;
}

[type='search'],
[type='text'],
[type='tel'],
[type='password'],
[type='file'],
[type='number'],
select,
textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 2px;
}

[type='search'],
[type='text'],
[type='tel'],
[type='password'],
[type='number'] {
  padding: 6px 12px 5px;
  height: 42px;
  font-size: 100%;
  line-height: 18px;
  color: #333;
}

[type='file'] {
  border: 1px solid #ddd;
}

select {
  padding: 11px 35px 9px 12px;
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  line-height: 18px;
  background: #fff url("../images/btn/btn_select.png") no-repeat 100% 50%;
  /* 화살표 모양의 이미지 */
  background-size: 37px auto;
  font-size: 1.4rem;
}

select:disabled {
  background: #ebebe4;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
  display: none;
}

textarea {
  padding: 15px 12px;
}

[type='checkbox'],
[type='radio'] {
  width: 16px;
  height: 16px;
  border: 2px solid #9d9d9d;
  border-radius: 2px;
  vertical-align: baseline;
}
/*# sourceMappingURL=base.css.map */