.search-sort {
  -ms-display: flex;
  -ms-align-items: center;
  display: flex;
  align-items: center;
  padding: 10px 0 10px 8px;
  margin: 7px 0 30px;
  border-radius: 6px;
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.search-sort .ir {
  position: absolute;
  left: -1000em;
  top: 0;
}
.search-sort > p {
  color: #999;
}
.search-sort > p span {
  color: #333;
}
.search-sort > div {
  -ms-display: flex;
  -ms-align-items: center;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.search-sort > div span {
  display: block;
  position: relative;
  height: 24px;
  padding-right: 8px;
}
.search-sort > div span::after {
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  height: 20px;
  background-color: #eee;
  transform: translate(0, -50%);
  content: "";
}
.search-sort button {
  overflow: hidden;
  width: 24px;
  height: 24px;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.search-sort button svg {
  display: none;
}
.search-sort button svg.list-btn {
  display: block;
}
.search-sort button.grid svg.grid-btn {
  display: block;
}
.search-sort button.grid svg.list-btn {
  display: none;
}
.search-sort .select {
  position: relative;
  width: 125px;
  height: 30px;
}
.search-sort .select ul {
  width: 100%;
}
.search-sort .select li {
}
.search-sort .select a {
  display: block;
  padding: 0 8px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: -1px;
  color: #666;
}
.search-sort .select li:first-child a {
  position: relative;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik01IDdMOCAxMEwxMSA3IiBzdHJva2U9IiM5OTk5OTkiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPg0KPC9zdmc+DQo=)
    85% center no-repeat;
}
.search-sort .select.open {
  border-radius: 0;
  box-shadow: none;
}
.search-sort .select.open ul {
  position: absolute;
  left: 0;
  top: -8px;
  z-index: 30;
  padding: 5px 0;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1), 0px 4px 5px rgba(0, 0, 0, 0.05),
    0px 2px 4px rgba(0, 0, 0, 0.02);
}
.search-sort .select.open a {
  padding: 3px 8px;
}
.search-sort .select.open li:first-child a {
  font-weight: bold;
}
.search-sort .select.open li:not(:first-child) a:hover {
  text-decoration: underline;
}

.nodata_box {
  display: none;
}
.nodata_box.on {
  display: block;
}

.book-list {
  margin-top: 24px;
}
.book-list .ir {
  position: absolute;
  left: -1000em;
  top: 0;
}
.book-list li {
}
.book-list a {
  display: block;
}
.book-list .image {
  overflow: hidden;
  position: relative;
  border-radius: 0px 3px 3px 0px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.book-list .image.book-icon::after {
  position: absolute;
  right: 4px;
  bottom: 4px;
  z-index: 20;
  width: 32px;
  height: 32px;
  background-position: center center;
  background-size: 32px;
  background-repeat: no-repeat;
  content: "";
}
.book-list .image.book-icon.readingbook::after {
  background-image: url(../common/images/common/icon-readingbook-new.png);
}
.book-list .image.book-icon.chatbook::after {
  background-image: url(../common/images/common/icon-chatbook-new.png);
}
.book-list .image.book-icon.docent::after {
  background-image: url(../common/images/common/icon-docent-new.png);
}

.book-list .image.book-icon.pdf::after {
  width: 36px;
  height: 20px;
  background-image: url(../common/images/common/icon-pdf-new.svg);
  background-size: 100% auto;
}
.book-list .image.book-icon.none::after {
  width: 36px;
  height: 20px;
  background-image: url(../common/images/common/icon-coming-new.svg);
  background-size: 100% auto;
}
.book-list .image.book-icon.comic::after {
  width: 36px;
  height: 20px;
  background-image: url(../common/images/common/icon-comic-new.svg);
  background-size: 100% auto;
}
.image.adult::before {
  position: absolute;
  left: 7px;
  top: 8px;
  z-index: 20;
  width: 26px;
  height: 26px;
  background: url(../common/images/common/new-icon-adult.png) 0 0 / 100% 100% no-repeat;
  content: "";
}
.book-list .image .free {
  position: absolute;
  left: 4px;
  bottom: 4px;
  z-index: 20;
  width: 36px;
  height: 20px;
  background-image: url(../common/images/common/icon-free-new.svg);
  background-size: 100% auto;
}
.book-list .image .time {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 30;
}
.book-list .image time {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 40;
  width: 48px;
  height: 29px;
  padding-top: 19px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1), 0px 4px 5px rgba(0, 0, 0, 0.05),
    0px 2px 4px rgba(0, 0, 0, 0.02);
  text-align: center;
  transform: translate(-50%, -50%);
}
.book-list .image time .year {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 19px;
  background: #ffeb60;
  font-size: 11px;
  color: #333;
  line-height: 19px;
}
.book-list .image time .day {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  line-height: 29px;
}
.book-list .image img {
  vertical-align: top;
}
.book-list .image img.blur {
  filter: blur(2px);
}
.book-list .body {
}
.book-list .body span {
  display: block;
  margin-bottom: 5px;
}
.book-list .body .bedge-icon {
  -ms-display: flex;
  -ms-align-items: center;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
}
.book-list .body .bedge-icon.readingbook {
  color: #b673f8;
}
.book-list .body .bedge-icon i {
  overflow: hidden;
  width: 40px;
  height: 20px;
  margin-right: 4px;
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-indent: -1000em;
}
.book-list .body .bedge-icon.readingbook i {
  background-image: url(../common/images/common/icon-audio-text.svg);
}
.book-list .body .bedge-icon.chatbook i {
  background-image: url(../../millie.co.kr/common/images/common/icon-chatbook-text.png);
}
.book-list .body .bedge-icon.docent i {
  background-image: url(../../millie.co.kr/common/images/common/icon-docent-text.png);
}
.book-list .body .bedge-icon.cartoon i {
  background-image: url(../common/images/common/icon-cartoon-text.svg);
}
.book-list .body .bedge-icon.readingbook span {
  overflow: hidden;
  display: block;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.book-list .body .title {
  overflow: hidden;
  display: -webkit-box;
  max-height: 2.8em;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.4;
}
.book-list .body p {
}
.book-list .body div {
}
.book-list .body .author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.book-list .body .publisher {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

/* grid */
.book-list.grid {
  -ms-display: flex;
  -ms-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}
.book-list.grid .image {
  padding-top: 136.53%;
  margin-bottom: 10px;
}
.book-list.grid .image img {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
}
.book-list.grid .body .title {
  font-weight: bold;
  font-size: 14px;
  color: #444;
}
.book-list.grid .body p {
  display: none;
}
.book-list.grid .body .author {
  font-size: 12px;
  color: #777;
}
.book-list.grid .body .publisher {
  display: none;
}

/* list */
.book-list.list li {
  margin-bottom: 16px;
}
.book-list.list a {
  display: flex;
  padding-bottom: 15px;
}
.book-list.list .image {
  width: 120px;
  margin-bottom: auto;
}
.book-list.list .body {
  -ms-display: flex;
  -ms-flex-direction: column;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: calc(100% - 135px);
  padding-right: 16px;
  margin-left: 15px;
  box-sizing: content-box;
}
.book-list.list .body::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  height: 1px;
  background: #eee;
  content: "";
}
.book-list.list .body > * {
  width: 100%;
}
.book-list.list .body .title {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}
.book-list.list .body p {
  overflow: hidden;
  display: -webkit-box;
  max-height: 2.8em;
  margin-bottom: 16px;
  font-size: 12px;
  text-overflow: ellipsis;
  color: #999;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.4;
}
.book-list.list .body div {
  -ms-display: flex;
  -ms-align-items: center;
  display: flex;
  align-items: center;
}
.book-list.list .body .author {
  font-size: 14px;
  color: #333;
}
.book-list.list .body .publisher {
  display: block;
  color: #999;
}
.book-list.list .body .publisher::before {
  display: inline-block;
  width: 2px;
  height: 2px;
  margin: 4px 5px;
  background: #999;
  border: 50%;
  content: "";
}

.scroll-top {
  position: fixed;
  right: 1000em;
  bottom: 10px;
  bottom: calc(10px + env(safe-area-inset-bottom));
  bottom: calc(10px + constant(safe-area-inset-bottom));
  z-index: 50;
  width: 38px;
  height: 38px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #ccc;
  transition: opacity 0.2s;
}
.scroll-top.show {
}
.scroll-top::after {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background: url(button_arrow_3.0.png) center center / 100% 100% no-repeat;
  content: "";
}

@media (min-width: 700px) {
  .book-list.grid li {
    width: 19%;
    margin: 0 0 1.25% 1.25%;
  }
  .book-list.grid li:nth-child(5n + 1) {
    margin-left: 0;
  }

  .scroll-top.show {
    right: calc(50% - 340px);
  }
}
@media (max-width: 701px) {
  .book-list.grid li {
    width: 32%;
    margin: 0 0 2% 2%;
  }
  .book-list.grid li:nth-child(3n + 1) {
    margin-left: 0;
  }

  .scroll-top.show {
    right: 10px;
  }
}
