@charset "UTF-8";
.header-inner {
  position: relative;
  max-width: 760px;
  margin: 0 auto;
}

footer.footer {
  color: #fff;
  background-color: #858990;
  padding: 10px 0 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

footer.footer.only_copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  padding: 0;
}

footer.footer.only_copy .footer-inner .copyright {
  margin-top: 0;
}

footer.footer.only_copy .footer-inner > *:not(.copyright) {
  display: none;
}

footer.footer .footer-inner {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

footer.footer .connects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer.footer .connects > a {
  position: relative;
  width: 20%;
  max-width: 50px;
  height: 50px;
}

footer.footer .connects > a.facebook:before {
  width: 12px;
  background-position: 0 -52px;
}

footer.footer .connects > a.twitter:before {
  background-position: -14px -52px;
}

footer.footer .connects > a.kakao:before {
  background-position: -40px -52px;
}

footer.footer .connects > a.naver:before {
  background-position: -66px -52px;
}

footer.footer .connects > a.instagram:before {
  width: 20px;
  background-position: -92px -52px;
}

footer.footer .connects > a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  background: url(../images/common/spl_snslink.png) no-repeat;
  background-size: 112px 76px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

footer.footer .supports {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #a6a8ad;
  border-radius: 2px;
  margin: 10px 0;
}

footer.footer .supports > a {
  width: 33.33%;
  text-align: center;
  line-height: 27px;
  border-right: 1px solid #a6a8ad;
}

@media (max-width: 360px) {
  footer.footer .supports > a {
    font-size: 13px;
  }
}

footer.footer .supports > a:last-child {
  border: 0;
}

footer.footer .company {
  text-align: center;
  padding: 15px 0;
}

footer.footer .services {
  padding: 10px 0;
  text-align: center;
}

footer.footer .services > a {
  position: relative;
  display: inline-block;
  font-weight: bold;
  margin-right: 18px;
  padding-right: 11px;
  line-height: 24px;
  color: #eee;
}

footer.footer .services > a:nth-of-type(2n) {
  margin-right: 0;
}

footer.footer .services > a:after {
  content: "";
  position: absolute;
  top: 9px;
  right: 1px;
  width: 5px;
  height: 5px;
  border: 1px solid #ffc004;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

footer.footer .customer {
  display: block;
  color: #ddd;
  margin-top: 7px;
}

footer.footer .copyright {
  margin-top: 28px;
}

footer.footer dd,
footer.footer p {
  font-size: 12px;
  line-height: 18px;
  color: #ccc;
  text-align: center;
}

footer.footer address {
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
}

.bg_gray {
  background: #eff1f5;
}

/* header */
#header {
  position: relative;
  z-index: 900;
}

.flip_wrap {
  background: #fff;
}

#header.tit_page {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: env(safe-area-inset-top);
  padding-top: constant(safe-area-inset-top);
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}

#header.tit_page h1 {
  margin: 0 auto;
  padding: 0 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 760px;
  height: 49px;
  font-size: 1.8rem;
  color: #2d303f;
  text-align: center;
  line-height: 49px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  letter-spacing: -0.02em;
}

#header.tit_page .btn_close {
  position: absolute;
  left: 13px;
  top: 12px;
}

#header.menu_gnb {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
}

#header.tit_page + #contents {
  /* padding-top: 49px; */
  /* padding-top: 59px; */
  padding-top: 70px;
}

#header.tit_page + #contents.bg_gray:before {
  height: 50px;
}

#header.tit_page + #contents.result_depth {
  padding-top: 50px;
}

#header.menu_gnb + #contents {
  padding-top: 60px;
}

#header.header_gnb {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
}

#header.header_gnb + #contents {
  padding-top: 50px;
}

#header.header_gnb + #contents .tab_box_read {
  border-top: 0;
}

#header.header_gnb + #contents.post_view02 {
  padding-top: 70px;
}

#header.header_gnb + #contents.card_view {
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  height: auto;
  min-height: auto;
}

.gnbbox {
  max-width: 760px;
  margin: 0 auto;
  background: #fff;
}

.gnbbox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 49px;
}

.gnbbox ul li {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.gnbbox ul li.current a {
  color: #ffc004;
}

.gnbbox ul li a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 49px;
  font-size: 11px;
  color: #888;
  text-align: center;
}

.gnbbox ul li a:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin: 6px auto 3px;
  background: url("../images/spl_common/spl_gnb_v2.png") no-repeat;
  background-size: 174px 60px;
  background-position: 0 0;
}

.gnbbox ul li.nav_viewfinder a:before {
  background-position: 0 0;
}

.gnbbox ul li.nav_search a:before {
  background-position: -24px 0;
}

.gnbbox ul li.nav_feed a:before {
  background-position: -48px 0;
}

.gnbbox ul li.nav_shelf a:before {
  background-position: -72px 0;
}

.gnbbox ul li.nav_setting a:before {
  background-position: -96px 0;
}

.gnbbox ul li.nav_viewfinder.current a:before,
.gnbbox ul li.nav_search.current a:before,
.gnbbox ul li.nav_feed.current a:before,
.gnbbox ul li.nav_shelf.current a:before,
.gnbbox ul li.nav_viewer.current a:before,
.gnbbox ul li.nav_setting.current a:before {
  background-position-y: -24px;
}

.gnb {
  /* border-bottom: 1px solid #000; */
  /* border-color: rgba(0,0,0,.05); */
  padding-bottom: 1px;
}

.gnb ul {
  margin: 0 auto;
  width: 100%;
  max-width: 760px;
}

.gnb ul:after {
  content: "";
  display: block;
  clear: both;
}

.gnb li {
  float: left;
  width: 20%;
  position: relative;
  z-index: 10;
}

.gnb a {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 33px;
  height: 59px;
  line-height: 18px;
  text-align: center;
  color: #b2b2b2;
  font-size: 1.3rem;
}

.gnb a:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 50%;
  margin-left: -11px;
  width: 22px;
  height: 22px;
  background: url("../images/common/gnb1b26.png?v2") no-repeat;
  background-position: 0 0;
  background-size: 166px 84px;
}

.gnb a .new {
  position: absolute;
  left: 50%;
  top: 12px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  text-indent: 50px;
  overflow: hidden;
  background: url("../images/common/gnb.png") no-repeat;
  background-position: 0 -72px;
  background-size: 120px 84px;
  overflow: hidden;
}

.gnb a .cnt_alram {
  position: absolute;
  left: 50%;
  top: 12px;
  display: block;
  padding: 1px 3px;
  font-family: verdana, arial;
  font-size: 0.9rem;
  line-height: 12px;
  color: #fff;
  white-space: nowrap;
  border: 1px solid #fff;
  border-radius: 8px;
  background: #de385e;
}

.gnb .current a {
  color: #ffc003 !important;
}

.gnb .nav01 a:before {
  background-position: 0 0;
}

.gnb .nav01.current a:before {
  background-position: 0 -24px !important;
}

.gnb .nav02 a:before {
  background-position: -24px 0;
}

.gnb .nav02.current a:before {
  background-position: -24px -24px !important;
}

.gnb .nav03 a:before {
  background-position: -48px 0;
}

.gnb .nav03.current a:before {
  background-position: -48px -24px !important;
}

.gnb .nav04 a:before {
  background-position: -96px 0;
}

.gnb .nav04.current a:before {
  background-position: -96px -24px !important;
}

.gnb .nav05 a:before {
  background-position: -72px 0;
}

.gnb .nav05.current a:before {
  background-position: -72px -24px !important;
}

.gnb .nav_shelf a:before {
  background-position: -120px 0;
}

.gnb .nav_shelf.current a:before {
  background-position: -120px -24px !important;
}

.gnb .nav_setting a:before {
  background-position: -144px 0;
}

.gnb .nav_setting.current a:before {
  background-position: -144px -24px !important;
}

.nav_white .gnb ul:before {
  display: none;
}

.nav_white .gnb a {
  color: #fff;
}

.nav_white .gnb .nav01 a:before {
  background-position: 0 -48px;
}

.nav_white .gnb .nav02 a:before {
  background-position: -24px -48px;
}

.nav_white .gnb .nav03 a:before {
  background-position: -48px -48px;
}

.nav_white .gnb .nav04 a:before {
  background-position: -96px -48px;
}

.nav_white .gnb .nav05 a:before {
  background-position: -72px -48px;
}

.nav_white .gnb .nav_shelf a:before {
  background-position: -120px -48px;
}

.nav_white .gnb .nav_setting a:before {
  background-position: -144px -48px;
}

/* pc header */
#header_wrap {
  background: #3d414a;
}

#header_wrap + #contents .shelf_info {
  top: 0;
  margin-bottom: 0;
}

#header_wrap ul {
  margin: 0 auto;
  max-width: 1024px;
  overflow: hidden;
}

#header_wrap ul li {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  border-right: 1px solid #5a5e68;
}

#header_wrap ul li:first-child {
  border-left: 1px solid #5a5e68;
}

#header_wrap ul li a {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
}

#footer_wrap {
  padding-bottom: 60px;
  border-top: 1px solid #d9d9d9;
  background: #e8e9ed;
}

#footer_wrap.beta {
  padding: 5px 0 10px;
  background: #858990;
}

#footer_wrap.beta [class^="set_snslink"] {
  display: none;
}

#footer_wrap.beta [class^="set_snslink"] ul {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 760px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#footer_wrap.beta .foo_btns {
  display: none;
}

#footer_wrap.beta .logo {
  display: none;
}

#footer_wrap.beta .txt_tel {
  display: none;
}

#footer_wrap.beta .company_info {
  display: none;
}

#footer_wrap.beta.full_copy {
  padding: 0 0 60px;
}

#footer_wrap.beta.full_copy #footer {
  padding: 0px 15px 0;
}

#footer_wrap.beta.full_copy #footer .txt_copy {
  margin-top: 20px;
}

#footer_wrap.beta.full_copy [class^="set_snslink"] {
  display: block;
}

#footer_wrap.beta.full_copy .foo_btns {
  display: block;
}

#footer_wrap.beta.full_copy .logo {
  display: block;
}

#footer_wrap.beta.full_copy .txt_tel {
  display: block;
}

#footer_wrap.beta.full_copy .company_info {
  display: block;
}

#footer_wrap.beta #footer {
  position: relative;
  margin: 0 auto;
  padding: 15px;
  max-width: 760px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-break: keep-all;
  color: #eee;
  font-size: 1.4rem;
}

#footer_wrap.beta #footer .logo {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  border: none;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

#footer_wrap.beta #footer .foo_btns {
  margin: 10px auto 0;
  border: 1px solid #a6a8ad;
}

#footer_wrap.beta #footer .foo_btns:after {
  content: "";
  display: block;
  clear: both;
}

#footer_wrap.beta #footer .foo_btns li {
  float: left;
  width: 33%;
}

#footer_wrap.beta #footer .foo_btns li:nth-child(2) {
  border: 1px solid #a6a8ad;
  border-width: 0 1px;
}

#footer_wrap.beta #footer .foo_btns li span {
  font-size: 1.2rem;
  opacity: 0.7;
}

#footer_wrap.beta #footer .foo_btns a {
  display: block;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  color: #eee;
  border-radius: 2px;
}

#footer_wrap.beta #footer .other_links {
  margin-top: 20px;
  text-align: center;
}

#footer_wrap.beta #footer .other_links a {
  display: inline-block;
  margin-right: 20px;
  padding: 2px;
  color: #eee;
}

#footer_wrap.beta #footer .other_links a:after {
  content: "";
  position: relative;
  top: -2px;
  left: 2px;
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 1px solid #ffc004;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#footer_wrap.beta #footer .txt_copy {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  color: #ccc !important;
}

#footer_wrap.beta #footer .txt_tel {
  margin: 16px 0 20px;
  font-size: 1.2rem;
  text-align: center;
  color: #ddd;
}

#footer_wrap.beta #footer .txt_tel a {
  margin-bottom: 4px;
  display: block;
  font-size: 1.4rem;
  color: #fff;
  cursor: default;
}

#footer_wrap.beta #footer .txt_tel a em {
  color: #ffc004;
  font-weight: bold;
}

#footer_wrap.beta #footer .company_info {
  margin: 20px 0;
  text-align: center;
}

#footer_wrap.beta #footer .company_info em {
  color: #fff;
}

#footer_wrap.beta #footer .foo_info {
  margin-top: 9px;
  font-size: 1.2rem;
}

#footer_wrap.beta #footer .foo_info ul {
  margin-top: 3px;
}

#footer_wrap.beta #footer .foo_info ul li {
  color: #ccc;
  margin-top: 3px;
}

#footer_wrap.beta #footer .foo_info ul li em {
  display: inline-block;
  padding-right: 6px;
  color: #ddd;
}

#footer_wrap.beta #footer .foo_info ul li:nth-child(4),
#footer_wrap.beta #footer .foo_info ul li:last-child {
  margin-top: 8px;
}

#footer_wrap.beta #footer .bar {
  display: inline-block;
  padding: 0 3px;
  font-weight: normal;
  text-align: center;
  opacity: 0.6;
}

@media only screen and (max-width: 699px) {
  .foo_mobile {
    display: block;
  }
  #footer .foo_info em {
    display: inline-block;
  }
  #footer .foo_info dl dd + dt {
    clear: left;
    padding-left: 0;
  }
}

@media only screen and (min-width: 760px) {
  #footer .foo_pc {
    display: block;
  }
  #footer .foo_mobile {
    display: none;
  }
}

/* pc footer
.pc #footer {
@include font-size(11);
.foo_pc {
display: block;
}
.foo_mobile {
display: none;
}
.txt_copy {
text-align: left;
}

}
*/
.btn_home,
.btn_confirm,
.btn_move {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 15px;
  height: 33px;
  width: 61px;
  text-align: center;
}

.btn_home img,
.btn_confirm img,
.btn_move img {
  width: 21px;
  height: auto;
  vertical-align: top;
}

.btn_confirm {
  left: auto;
  right: 0;
}

.btn_confirm img {
  margin-top: 1px;
  width: 18px;
}

.btn_close02 {
  position: absolute;
  z-index: 99;
  display: block;
  overflow: hidden;
  width: 41px;
  height: 41px;
}

.btn_close02:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 41px;
  background: url(../images/btn/btn_login_close.png) no-repeat;
  background-size: 100%;
  background-position: center center;
}

.btn_close02 span {
  position: absolute;
  left: -5000px;
  top: -5000px;
}

.btn_close03 {
  display: block;
  margin: 10px -15px -15px;
  padding: 10px 0;
  text-align: center;
  color: #999;
  border-top: 1px solid #f3f3f3;
  font-size: 1.2rem;
}

.btn_close04 {
  display: block;
  position: absolute;
  left: 15px;
  top: 12px;
  z-index: 99;
  padding: 5px;
  width: 19px;
  height: 19px;
  overflow: hidden;
}

.btn_close04:before,
.btn_close04:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 2px;
  height: 100%;
  background: #666;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.btn_close04:after {
  width: 100%;
  height: 2px;
}

.btn_close04 span {
  position: absolute;
  left: -5000px;
  top: -5000px;
}

.btn_close04.c01:before,
.btn_close04.c01:after {
  background: #fff;
}

.btn_close04.size01 {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

.btn_move {
  left: auto;
  right: 15px;
  top: 10px;
  padding: 0 10px;
  width: auto;
  height: 27px;
  line-height: 27px;
  color: #000;
  font-size: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.btn_home {
  left: 15px;
  top: 12px;
  padding: 5px;
  width: 20px;
  height: 18px;
  overflow: hidden;
}

.btn_home:before {
  content: "";
  display: block;
  margin: auto;
  width: 20px;
  height: 18px;
  background: url("../images/btn/btn_home.png") no-repeat center center;
  background-size: contain;
}

.btn_home span {
  position: absolute;
  left: -200px;
  top: -200px;
}

/* contents */
#contents {
  position: relative;
  padding: 20px 15px 15px 15px;
  min-height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 760px;
  background-size: cover;
  background-position: center center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#contents.result_depth {
  padding-top: 0;
}

#contents.bg_gray {
  background: #eff1f5;
}

#contents > .tb_toggle:first-child {
  margin-top: -20px;
  padding-top: 0;
  overflow: hidden;
}

/* login */
#login {
  height: 100%;
  background: url("../images/common/bg_login.jpg") no-repeat center top;
  background-size: cover;
}

#login h1 {
  margin: 0 auto;
  width: 137px;
}

#login h1 img {
  width: 100%;
  height: auto;
}

#login .login_close {
  position: absolute;
  right: 20px;
  top: 19px;
  display: block;
  width: 41px;
  height: 41px;
}

#login ul,
.sns_connect_box ul {
  margin: 0 auto;
  width: 235px;
}

#login ul li,
.sns_connect_box ul li {
  margin-top: 10px;
}

#login ul a,
.sns_connect_box ul a {
  position: relative;
  display: block;
  padding: 2px 19px 0 56px;
  height: 38px;
  border-radius: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  line-height: 38px;
}

#login ul a:before,
.sns_connect_box ul a:before {
  content: "";
  position: absolute;
  left: 19px;
  top: 0;
  bottom: 0;
  width: 34px;
  border-right: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.1);
  background-position: 4px center;
  background-repeat: no-repeat;
}

#login ul .naver a,
.sns_connect_box ul .naver a {
  background: #1ec800;
}

#login ul .naver a:before,
.sns_connect_box ul .naver a:before {
  background-image: url("../images/common/img_login_n.png");
  background-size: 14px auto;
}

#login ul .facebook a,
.sns_connect_box ul .facebook a {
  background: #39589a;
}

#login ul .facebook a:before,
.sns_connect_box ul .facebook a:before {
  background-image: url("../images/common/img_login_f.png");
  background-size: 10px auto;
  background-position: 8px center;
}

#login ul .kakao a,
.sns_connect_box ul .kakao a {
  background: #fbe300;
  color: #464646;
}

#login ul .kakao a:before,
.sns_connect_box ul .kakao a:before {
  background-image: url("../images/common/img_login_k.png");
  background-size: 18px auto;
}

#login ul .idpw a,
.sns_connect_box ul .idpw a {
  background: #fff;
  color: #333;
}

#login ul .idpw a:before,
.sns_connect_box ul .idpw a:before {
  border-right: 1px solid #f2f2f2;
  background-image: url("../images/common/img_login_id.png");
  background-size: 18px auto;
}

#login ul .recent,
.sns_connect_box ul .recent {
  position: relative;
  z-index: 1;
}

#login ul .recent:before,
.sns_connect_box ul .recent:before {
  content: "최근 로그인";
  position: absolute;
  top: 50%;
  right: -40px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 1;
  padding: 6px 0 0 6px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 80px;
  height: 28px;
  font-size: 1.2rem;
  color: #fff;
  white-space: nowrap;
  background: url(../images/common/bg_recent_login.png) no-repeat center center;
  background-size: 100%;
}

#login ul .recent:after,
.sns_connect_box ul .recent:after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  z-index: -1;
  border: 2px solid #f2385a;
  border-radius: 23px;
}

.sns_connect_box ul li:first-child {
  margin-top: 120px;
}

.login_box {
  margin: 0 auto;
  padding-top: 115px;
  width: 320px;
  text-align: center;
}

.login_box h1 {
  position: relative;
}

.login_box .sub_txt {
  margin-top: 18px;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.login_box .sub_txt b {
  display: block;
  color: white;
}

.login_box .guide_txt {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.login_box ul + .guide_txt {
  margin-top: 30px;
}

.login_box.v2 {
  padding-top: 50px;
}

.login_box.v2 h1 {
  width: 120px;
}

.login_box.v2 .guide_box {
  margin: 20px auto 0;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 235px;
  font-size: 1.2rem;
  color: #ddd;
  text-align: left;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.4);
}

.login_box.v2 .guide_box em {
  display: block;
}

.login_box.v2 .login_guide,
.login_box.v2 .guide_txt02 {
  font-size: 1.2rem;
  color: #fff;
}

.login_box.v2 .login_guide + .btn_htype,
.login_box.v2 .guide_txt02 + .btn_htype {
  margin-top: 10px;
}

.login_box.v2 .login_guide {
  position: relative;
  margin: 30px 0;
}

.login_box.v2 .login_guide strong {
  margin-bottom: 3px;
  font-weight: bold;
  display: block;
  color: #ffc003;
  font-size: 1.6rem;
}

.login_box.v2 .login_guide:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  margin: auto;
  display: block;
  height: 1px;
  width: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.login_box.v2 > ul li:first-child {
  margin-top: 20px;
}

.login_box.v2 > ul li:last-child {
  margin-bottom: 20px;
}

#login.v3 {
  position: relative;
  z-index: 1;
  min-height: 568px;
  background-image: url(../images/common/bg_login02.png);
  background-position: center bottom;
}

#login.v3 .login_box {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 100;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 80%;
  max-height: 600px;
  min-height: 400px;
  color: #fff;
}

#login.v3 .login_box h1 {
  position: relative;
  width: 116px;
  overflow: hidden;
  margin-top: 20px;
  opacity: 0;
  animation: moving_logo 2s forwards;
  -webkit-animation: moving_logo 2s forwards;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

#login.v3 .login_box h1:before {
  content: "";
  display: block;
  width: 116px;
  height: 42px;
  background: url(../images/common/logo_login_white.png) no-repeat;
  background-size: 100%;
}

#login.v3 .login_box h1 + .sub_txt {
  margin: 12px auto 0;
  width: 184px;
}

#login.v3 .login_box h1 + .sub_txt b {
  display: block;
  margin-bottom: 8px;
}

#login.v3 .login_box .btn_join {
  position: absolute;
  bottom: 250px;
  left: 0;
  right: 0;
  display: inline-block;
  margin: auto;
  padding: 2px;
  height: 44px;
  color: #fff;
}

#login.v3 .login_box .btn_join strong {
  display: block;
  margin-top: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

#login.v3 .login_box .btn_join strong:after {
  content: "";
  display: inline-block;
  margin: -1px 0 0 5px;
  width: 6px;
  height: 10px;
  vertical-align: middle;
  background: url("../images/btn/spl_btnsd387.png?v8") no-repeat;
  background-size: 146px 120px;
  background-position: -74px -26px;
}

#login.v3 .login_box .btn_wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#login.v3 .login_box .tit_sec,
#login.v3 .login_box h3 {
  font-size: 1.4rem;
  opacity: 0.7;
}

#login.v3 .bg_video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  color: #fff;
  background: #000;
}

#login.v3 .bg_video video {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 0.5;
  min-width: 100%;
  min-height: 100%;
}

#login.v3.join:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ffc003;
  opacity: 0.9;
  animation: bg_opacity 0.5s;
  -webkit-animation: bg_opacity 0.5s;
}

#login.v3.join .login_box {
  top: 50%;
  height: 476px;
  color: #666;
}

#login.v3.join .join_wrapper {
  padding: 35px 0 30px;
  border-radius: 5px;
  background: #eff1f5;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

#login.v3.join h2 {
  position: relative;
  margin-bottom: 15px;
  font-size: 1.8rem;
  color: #111;
  font-weight: bold;
  animation: intro_subtxt 0.5s;
  -webkit-animation: intro_subtxt 0.5s;
}

#login.v3.join .sub_txt {
  color: #666;
}

#login.v3.join .sub_txt strong {
  font-weight: bold;
}

#login.v3.join .sub_txt + h3 {
  margin-top: 60px;
}

#login.v3.join .btn_login_back {
  display: block;
  margin-top: 60px;
  padding: 5px 0;
  color: #666;
}

#login.v4 {
  background: #ffc003;
}

#login.v4 .login_slide {
  margin: 0 0 31px;
  width: 100%;
  max-height: 80%;
  min-height: 400px;
  overflow: hidden;
  text-align: center;
  background: #fff;
}

#login.v4 .login_slide img {
  max-width: 450px;
  vertical-align: top;
}

#login.v4 .btn_wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 300px;
}

#login.v4 .btn_atype {
  display: block;
  margin-bottom: 23px;
  border-radius: 50px;
}

#login.v4 .btn_login {
  font-weight: bold;
}

.set_logocopy .logo {
  position: relative;
  width: 66px;
  overflow: hidden;
  margin: 20px auto 0;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.set_logocopy .logo:before {
  content: "";
  display: block;
  width: 66px;
  height: 24px;
  background: url(../images/common/logo_white.svg) no-repeat 50% 50%;
  background-size: 100%;
}

.set_logocopy .sub_txt {
  margin: 12px auto 0;
  width: 261px;
}

.set_logocopy .sub_txt img {
  width: 100%;
}

/* intro */
.loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: #fad207 url("../images/common/intro00.png") no-repeat center center;
  background-size: contain;
}

#intro h1 {
  position: fixed;
  top: 115px;
  left: 50%;
  margin: 0 0 0 -69px;
  width: 138px;
  z-index: 100;
}

.intro_wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 760px;
  height: 100%;
}

.intro_wrap .slick-list,
.intro_wrap .slick-track {
  height: 100%;
  width: 100%;
}

.intro_wrap .item_box {
  position: relative;
  background-position: center center;
  background-size: cover;
}

.intro_wrap .item_box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.intro_wrap .txt_box {
  position: absolute;
  left: 0;
  width: 100%;
  color: #fff;
  top: 240px;
}

.intro_wrap .txt_box strong {
  position: relative;
  display: block;
  padding-bottom: 28px;
  margin: 0 0 38px;
  font-size: 2.3rem;
  text-align: center;
  line-height: 34px;
}

.intro_wrap .txt_box strong span {
  font-size: 2.3rem;
  /* font-weight: 400; */
  font-weight: 760;
  color: #ffc004;
}

.intro_wrap .txt_box strong:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -27px;
  width: 54px;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
}

.intro_wrap .txt_box > span {
  position: relative;
  display: block;
  font-size: 1.3rem;
  text-align: center;
  opacity: 0.5;
}

.intro_wrap .txt_box > strong {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  /* top: 10px; */
  opacity: 0;
}

.intro_wrap .txt_box > span {
  /* transition: .6s ease-in-out; */
  top: 20px;
  opacity: 0;
}

.intro_wrap .btn_intro {
  font-size: 1.5rem;
  display: block;
  position: absolute;
  left: 50%;
  top: 433px;
  margin-left: -117px;
  width: 233px;
  padding-top: 2px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 20px;
}

.intro_wrap .slick-active .txt_box > strong {
  /* top: 0; */
  opacity: 1;
}

.intro_wrap .slick-active .txt_box > span {
  -webkit-animation: intro_subtxt 2s;
  top: 0;
  opacity: 0.5;
}

.intro_wrap .item01 {
  background-image: url("../images/common/intro01.png");
}

.intro_wrap .item02 {
  background-image: url("../images/common/intro02.png");
}

.intro_wrap .item03 {
  background-image: url("../images/common/intro03.png");
}

.intro_wrap .item04 {
  background-image: url("../images/common/intro04.png");
}

.intro_wrap .slick-dots {
  bottom: 27px;
}

.intro_wrap .slick-dots li button:before {
  background: rgba(255, 255, 255, 0.5);
}

.intro_wrap .slick-dots li.slick-active button:before {
  background: white;
}

.intro_wrap_v2 {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  height: 100%;
}

.intro_wrap_v2 .swiper-slide {
  height: 100%;
  min-height: 568px;
  width: 100%;
  position: relative;
  background-position: top center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #ddd;
}

.intro_wrap_v2 .slide01 {
  background-image: url("../images/common/intro01v2.png");
}

.intro_wrap_v2 .slide02 {
  background-image: url("../images/common/intro02v2.png");
}

.intro_wrap_v2 .slide03 {
  background-image: url("../images/common/intro03v2.png");
}

.intro_wrap_v2 .slide04 {
  background-image: url("../images/common/intro04v2.png");
}

.intro_wrap_v2 .slide04 > .btn_atype {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 999;
  margin: auto;
  padding: 14px 10px;
  width: 212px;
  height: 45px;
  line-height: 1;
  border: 1px solid #848484;
  background: rgba(0, 0, 0, 0.5);
}

.intro_wrap_v2 .swiper-pagination {
  bottom: 30px !important;
}

.intro_wrap_v2 [class^="swiper-pagination-bullet"] {
  background: #fff;
}

#contents.login_id {
  max-width: 100%;
  background: #4f5565;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contents.login_id * {
  font-family: "맑은 고딕", "Malgun Gothic", "Dotum";
}

#contents.login_id .login_step {
  max-width: 760px;
  margin: 0 auto;
}

#contents.login_id .login_step > ul,
#contents.login_id .login_step .btn_atype {
  width: 222px;
  margin: 0 auto;
}

#contents.login_id .login_step > ul li + li {
  margin-top: 6px;
}

#contents.login_id .login_step .btn_atype {
  display: block;
  margin-top: 12px;
}

#contents.login_id .set_logocopy {
  margin-bottom: 54px;
}

#contents.login_id .guide_box {
  text-align: center;
  margin-top: 74px;
}

#contents.login_id .btn_htype {
  color: #fff;
}

#contents.login_id .txt_guide_box01 {
  margin-top: 80px;
  color: #fff;
}

#contents.login_id .txt_guide_box01 .bul_type01 li {
  color: #f1f1f1;
}

/* login step */
.find_idpw > ul,
.join_step > ul,
.login_step > ul {
  margin: 10px 0 10px;
}

.find_idpw > ul li,
.join_step > ul li,
.login_step > ul li {
  margin-top: 15px;
}

.find_idpw > ul li:first-child,
.join_step > ul li:first-child,
.login_step > ul li:first-child {
  margin-top: 0;
}

.find_idpw .inp_area,
.join_step .inp_area,
.login_step .inp_area {
  position: relative;
  overflow: hidden;
}

.find_idpw .inp_area > div,
.join_step .inp_area > div,
.login_step .inp_area > div {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.find_idpw .inp_area > div:first-child,
.join_step .inp_area > div:first-child,
.login_step .inp_area > div:first-child {
  padding-right: 8px;
}

.find_idpw .inp_area.sel_on .btn_msel,
.join_step .inp_area.sel_on .btn_msel,
.login_step .inp_area.sel_on .btn_msel {
  display: none;
}

.find_idpw .inp_area.sel_on select,
.join_step .inp_area.sel_on select,
.login_step .inp_area.sel_on select {
  display: block;
}

.find_idpw .inp_area.sel_off .btn_msel,
.join_step .inp_area.sel_off .btn_msel,
.login_step .inp_area.sel_off .btn_msel {
  display: block;
}

.find_idpw .inp_area.sel_off select,
.join_step .inp_area.sel_off select,
.login_step .inp_area.sel_off select {
  display: none;
}

.find_idpw .inp_area.sel_off > div,
.join_step .inp_area.sel_off > div,
.login_step .inp_area.sel_off > div {
  width: 100%;
}

.find_idpw .inp_area.sel_off > div:first-child,
.join_step .inp_area.sel_off > div:first-child,
.login_step .inp_area.sel_off > div:first-child {
  padding-right: 48px;
}

.find_idpw .inp_area .btn_msel,
.join_step .inp_area .btn_msel,
.login_step .inp_area .btn_msel {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 38px;
  z-index: 50;
  text-indent: -999em;
  overflow: hidden;
  border: 1px solid #bec5d0;
  background: #fff;
}

.find_idpw .inp_area .btn_msel:before,
.join_step .inp_area .btn_msel:before,
.login_step .inp_area .btn_msel:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 13px;
  height: 7px;
  background: url("../images/btn/spl_btnsd387.png?v8") no-repeat;
  background-size: 146px 120px;
  background-position: 0 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.find_idpw .inp_area + .inp_area,
.join_step .inp_area + .inp_area,
.login_step .inp_area + .inp_area {
  margin-top: 16px;
}

.find_idpw .inp_area .label_txt,
.join_step .inp_area .label_txt,
.login_step .inp_area .label_txt {
  position: absolute;
  left: 10px;
  top: 6px;
  width: 20px;
  font-size: 1.4rem;
  color: #333;
}

.find_idpw .inp_area .label_txt strong,
.join_step .inp_area .label_txt strong,
.login_step .inp_area .label_txt strong {
  color: #ff6948;
}

.find_idpw .inp_area .inp_ph,
.join_step .inp_area .inp_ph,
.login_step .inp_area .inp_ph {
  display: block;
  position: relative;
}

.find_idpw .inp_area .inp_ph label,
.join_step .inp_area .inp_ph label,
.login_step .inp_area .inp_ph label {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.find_idpw .inp_area + div,
.find_idpw .inp_area + p,
.join_step .inp_area + div,
.join_step .inp_area + p,
.login_step .inp_area + div,
.login_step .inp_area + p {
  margin-top: 5px;
  color: #4f5565;
}

.find_idpw .warning_txt,
.join_step .warning_txt,
.login_step .warning_txt {
  display: none;
  padding-left: 7px;
}

.find_idpw .warning [type="text"],
.find_idpw .warning [type="number"],
.find_idpw .warning select,
.join_step .warning [type="text"],
.join_step .warning [type="number"],
.join_step .warning select,
.login_step .warning [type="text"],
.login_step .warning [type="number"],
.login_step .warning select {
  border-color: #ff5b7e;
}

.find_idpw .warning .warning_txt,
.join_step .warning .warning_txt,
.login_step .warning .warning_txt {
  display: block;
  color: #ff5b7e;
}

.find_idpw .agree_box,
.join_step .agree_box,
.login_step .agree_box {
  margin: 0 -15px;
  padding: 30px 15px;
  border-top: 1px solid #ddd;
}

.find_idpw .agree_box .all_agree,
.join_step .agree_box .all_agree,
.login_step .agree_box .all_agree {
  margin-left: 5px;
  font-size: 1.8rem;
  color: #333;
}

.find_idpw .agree_box .agree_list,
.join_step .agree_box .agree_list,
.login_step .agree_box .agree_list {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #dfdfe3;
  background: #fbfbfc;
}

.find_idpw .agree_box .agree_list li,
.join_step .agree_box .agree_list li,
.login_step .agree_box .agree_list li {
  position: relative;
  margin-top: 25px;
  padding-right: 30px;
  color: #333;
}

.find_idpw .agree_box .agree_list li:first-child,
.join_step .agree_box .agree_list li:first-child,
.login_step .agree_box .agree_list li:first-child {
  margin-top: 0;
}

.find_idpw .agree_box .agree_list li a,
.join_step .agree_box .agree_list li a,
.login_step .agree_box .agree_list li a {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: underline;
  color: #666;
}

.find_idpw .guide_txt,
.join_step .guide_txt,
.login_step .guide_txt {
  color: #4f5565;
}

.find_idpw > .guide_txt:first-child,
.join_step > .guide_txt:first-child,
.login_step > .guide_txt:first-child {
  margin-bottom: 24px;
}

.find_idpw .btn_atype + .txt_guide_box01,
.join_step .btn_atype + .txt_guide_box01,
.login_step .btn_atype + .txt_guide_box01 {
  margin-top: 20px;
}

.find_idpw .txt_guide_box01 a,
.join_step .txt_guide_box01 a,
.login_step .txt_guide_box01 a {
  font-weight: bold;
  text-decoration: underline;
}

.find_idpw .txt_guide_box02,
.join_step .txt_guide_box02,
.login_step .txt_guide_box02 {
  color: #999 !important;
  margin-top: 10px !important;
}

.find_idpw .current_info,
.join_step .current_info,
.login_step .current_info {
  color: #777;
  font-size: 1.2rem;
}

.find_idpw .current_info em,
.join_step .current_info em,
.login_step .current_info em {
  font-weight: bold;
  color: #9268bb;
  font-size: 1.4rem;
}

.login_step01 .ico_attention {
  margin-bottom: 20px;
  color: #666;
}

.login_step01 .agree_list {
  margin: 0 -15px;
  padding: 28px 30px 35px 30px;
  border: 1px solid #d8d8dc;
  border-width: 1px 0;
  font-size: 1.4rem;
  background: #fff;
}

.login_step01 .agree_list li {
  position: relative;
  margin-top: 31px;
  padding-right: 100px;
}

.login_step01 .agree_list li:first-child {
  margin-top: 0;
}

.login_step01 .agree_list li a {
  display: block;
  line-height: 30px;
  color: #333 !important;
  font-weight: bold;
}

.login_step01 .agree_list li label {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
}

.login_step01 .agree_list li label span {
  border-radius: 2px;
}

.login_step01 .all_agree {
  padding-top: 23px;
  font-size: 1.4rem;
}

.login_step02 p.guide_txt {
  padding: 0 7px;
  color: #333;
}

.login_step02 p.guide_txt em {
  color: #f2395b;
}

.login_step02 dl dt {
  position: relative;
  margin: 40px 0 8px;
  font-size: 1.6rem;
  color: #4f5565;
}

.login_step02 dl dt.hide_el {
  margin: 0;
}

.login_step02 dl dt:before {
  content: "";
  position: absolute;
  left: 0;
  right: -15px;
  top: 10px;
  height: 1px;
  background: #9fa3ad;
}

.login_step02 dl dt span {
  position: relative;
  z-index: 5;
  display: inline-block;
  padding: 0 10px 0 7px;
  background: #eff1f5;
}

.login_step02 dl dt i {
  display: block;
  padding: 7px 10px 0 7px;
  font-size: 1.2rem;
  color: #4f5565;
  opacity: 0.5;
}

.login_step02 dl dd {
  padding: 22px 10px 0 4px;
}

.login_step02 dl dd + dd {
  padding-top: 15px;
}

.login_step02 dl dd p {
  margin: 8px 0;
  color: #666;
}

.login_step02 dl dd p strong {
  color: #008bd3;
}

.login_step02 dl dd p.ico_attention {
  margin-top: 12px;
  padding: 1px 0 0 21px;
  font-size: 1.1rem;
  line-height: 14px;
}

.login_step02 dl .radio_type {
  line-height: 31px;
}

.login_step02 dl .radio_type + .radio_type {
  margin-left: 58px;
}

.login_step02 dl .inp_area {
  position: relative;
  padding-left: 40px;
  padding-right: 10px;
}

.login_step02 dl .inp_area + .inp_area {
  margin-top: 16px;
}

.login_step02 dl .inp_area .warning_txt {
  display: none;
  padding-left: 7px;
}

.login_step02 dl .inp_area.warning [type="text"],
.login_step02 dl .inp_area.warning [type="number"] {
  border-color: #ff5b7e;
}

.login_step02 dl .inp_area.warning .warning_txt {
  display: block;
  color: #ff5b7e;
}

.login_step02 dl .inp_area .label_txt {
  position: absolute;
  left: 10px;
  top: 6px;
  width: 20px;
  font-size: 1.4rem;
  color: #333;
}

.login_step02 dl .inp_area .label_txt strong {
  color: #ff6948;
}

.login_step02 dl .inp_area .inp_ph {
  display: block;
  position: relative;
}

.login_step02 dl .inp_area .inp_ph label {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.login_step03 .set_shelfcate {
  margin: 32px 0 34px;
}

.login_end {
  background: url("../images/common/bg_premium_intro.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.login_end .btn_wrap {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 20px;
}

.login_end .btn_wrap .btn_atype + .btn_htype {
  margin-top: 15px;
}

.login_step_end {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6;
}

.login_step_end dt {
  position: relative;
  padding: 23px 0 35px;
}

.login_step_end dt em {
  font-weight: bold;
  color: #ffc004;
}

.login_step_end dt:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80px;
  margin-left: -40px;
  background: #fff;
}

.login_step_end dd strong {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 2rem;
  color: #ff7055;
  line-height: 1.2;
  font-weight: bold;
  border-bottom: 1px solid #ff7055;
}

.login_step_end dd strong:before,
.login_step_end dd strong:after {
  content: "";
  position: absolute;
  top: 0;
  width: 12px;
  height: 8px;
  background: url("../images/common/img_intro_quot.png") no-repeat;
  background-size: 12px 18px;
}

.login_step_end dd strong:before {
  left: -22px;
  background-position: 0 0;
}

.login_step_end dd strong:after {
  right: -22px;
  background-position: 0 -10px;
}

.login_step_end dd em {
  font-weight: bold;
  text-decoration: underline;
}

.login_end.v2 {
  position: relative;
  background: rgba(79, 85, 101, 0.8);
}

.login_end.v2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url("../images/common/bg_login02.png") no-repeat center bottom !important;
  background-size: 100%;
}

.login_end.v2 p {
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.login_end.v2 p em,
.login_end.v2 p strong {
  font-weight: bold;
}

.login_end.v2 p + p {
  margin-top: 20px;
}

.login_end.v2 #nickname_info {
  display: block;
  margin-top: 50px;
  line-height: 1.5;
  font-size: 1.8rem;
}

.login_end.v2 #nickname_info strong {
  color: #ff7055;
}

.login_end.v2 hr {
  margin: 14px 0 12px;
  height: 1px;
  border: 0;
  background: #e1e1e2;
}

.login_end.v2 .guide_txt {
  color: #fff;
  line-height: 1.7;
}

.login_end.v2 .guide_txt a {
  padding-bottom: 3px;
  border-bottom: 1px solid #c8c8c8;
}

.login_end.v2 .book_recommend {
  position: relative;
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 18px;
  min-height: 341px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #dedee2;
  border-radius: 5px;
  background: #fff;
}

.login_end.v2 .book_recommend h2 {
  margin-bottom: 8px;
  color: #ff7055;
  font-weight: bold;
}

.login_end.v2 .book_list {
  margin: 0 -5px;
}

.login_end.v2 .book_list .book_item {
  float: left;
  padding: 0.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
}

.login_end.v2 .book_list .book_item .bookitem_wrap {
  padding: 0 !important;
}

.login_end.v2 .book_list .book_item .bg_bookitem {
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.login_end.v2 .book_list .book_item .bg_bookitem a {
  cursor: default;
}

.login_end.v2 .book_list .book_item .item_info {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.login_end.v2 .book_list:after {
  content: "";
  display: block;
  clear: both;
}

.login_end.v2 .btn_wrap02 {
  text-align: center;
}

.login_end.v2 .btn_wrap02 .btn_atype + .btn_atype {
  margin-top: 4px;
}

.login_end.v2 .btn_wrap02 p {
  margin: 46px 0 12px;
  color: #4f5565;
}

.login_end.v2 .btn_wrap02 .btn_htype {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -35px;
  display: block;
  margin: auto;
  width: 100px;
  font-weight: bold;
  color: #999;
}

.login_cate_skip {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  text-align: center;
}

.login_cate_skip > a {
  display: inline-block;
  padding: 5px;
  text-decoration: underline;
  color: #333;
}

.login_cate_skip + .btn_wrap_bottom {
  height: 105px;
}

.login_cate_skip + .btn_wrap_bottom p {
  bottom: 45px;
}

.set_shelfcate h3 + .login_cate_skip {
  position: relative;
  left: auto;
  right: auto;
  bottom: auto;
  margin: -15px 0 11px 0;
}

/* join_step */
.join_btns {
  margin-top: 10px;
  text-align: center;
}

.join_btns a {
  color: #666 !important;
  display: inline-block;
  padding: 3px 5px;
  font-size: 1.4rem;
}

.join_btns a + a:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 14px;
  border-left: 1px solid #bec5d0;
}

.txt_guide_box01 + .join_btns {
  border-top: 1px solid #ddd;
}

.verify_box {
  padding-right: 145px;
}

.verify_box .btn_atype {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}

.verify_box02 {
  padding-right: 90px;
}

.verify_box02 .btn_atype {
  position: absolute;
  right: 0;
  top: 0;
  width: 95px;
}

@media screen and (max-width: 360px) {
  .verify_box {
    padding: 0;
    height: 85px;
  }
  .verify_box label {
    top: 25% !important;
    right: 10px;
  }
  .verify_box .btn_atype {
    width: 100%;
    top: auto;
    bottom: 0;
  }
}

@-webkit-keyframes intro_subtxt {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.5;
  }
}

@keyframes intro_subtxt {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.5;
  }
}

@-webkit-keyframes bg_opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes bg_opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@-webkit-keyframes moving_logo {
  0% {
    width: 116px;
  }
  5% {
    top: 10px;
    opacity: 0.2;
    width: 116px;
  }
  30% {
    top: 0;
    opacity: 1;
    width: 116px;
  }
  80% {
    top: 0;
    opacity: 1;
    width: 116px;
  }
  100% {
    top: 0;
    opacity: 1;
    width: 41px;
  }
}

@keyframes moving_logo {
  0% {
    width: 116px;
  }
  5% {
    top: 10px;
    opacity: 0.2;
    width: 116px;
  }
  30% {
    top: 0;
    opacity: 1;
    width: 116px;
  }
  80% {
    top: 0;
    opacity: 1;
    width: 116px;
  }
  100% {
    top: 0;
    opacity: 1;
    width: 41px;
  }
}

/* ui-autocomplete */
#autocomplete {
  position: absolute;
  top: 107px;
  left: 33px;
  right: 33px;
  z-index: 50;
}

#autocomplete ul {
  padding: 0 18px;
  margin-top: -2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#autocomplete ul li div {
  margin-top: -1px;
  padding: 8px 10px;
  line-height: 20px;
  border: 1px solid #dedede;
  /* border-width: 1px 0; */
  background: white;
  color: #999;
}

.login_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-color: #181b2e;
  background-size: 100% 100%;
  background-size: cover;
  overflow: hidden;
  font-size: 1.2rem;
  word-break: keep-all;
}

@media (max-width: 320px) {
  .login_container {
    padding: 48px 0;
  }
}

.login_container select {
  max-width: 320px;
  z-index: 10;
}

.login_container .login_content {
  max-width: 320px;
  width: 100%;
  text-align: center;
  margin: 24px 0;
}

.login_container .login_content > div {
  width: 100%;
  color: #a1a6c1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  text-align: left;
  padding: 25px 15px 42px;
}

.login_container .login_content > div p {
  line-height: 18px;
  letter-spacing: -0.05em;
}

.login_container .login_content > div strong {
  color: #ffeb60;
  font-weight: 600;
  vertical-align: top;
}

.login_container .login_content > div img {
  display: block;
  vertical-align: top;
}

.login_container .login_content > div .connects {
  width: 202px;
}

.login_container .login_content > div .connects a {
  display: block;
  height: 36px;
  font-size: 1.4rem;
  line-height: 36px;
  color: #181b2e;
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  border-radius: 36px;
  margin-bottom: 10px;
}

.login_container .login_content > div .connects a.millie {
  height: 34px;
  line-height: 34px;
  border: 1px solid #fff;
  margin-bottom: 32px;
  text-align: center;
}

@media (max-width: 640px) {
  .login_container .login_content > div .connects a.millie {
    background-color: transparent;
    color: #fff;
  }
}

.login_container .login_content > div .connects a.naver {
  padding-left: 72px;
  background-image: url(../images/common/img_login_n.png);
  background-size: 14px auto;
  background-position: 16px 50%;
  background-color: #1ec800;
  color: #fff;
}

.login_container .login_content > div .connects a.facebook {
  padding-left: 65px;
  background-image: url(../images/common/img_login_f.png);
  background-size: 10px auto;
  background-position: 18px 50%;
  background-color: #39589a;
  color: #fff;
}

.login_container .login_content > div .connects a.kakao {
  padding-left: 65px;
  background-image: url(../images/common/img_login_k.png);
  background-size: 18px auto;
  background-position: 14px 50%;
  background-color: #fbe300;
  color: #3b1e1e;
  margin-bottom: 0;
}

.login_container .login_content > div .connects a.recent {
  position: relative;
}

.login_container .login_content > div .connects a.recent:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -3px;
  top: -3px;
  border: 3px solid #f2385a;
  border-radius: 36px;
}

.login_container .login_content > div .connects a.recent:after {
  content: "최근 로그인";
  position: absolute;
  top: 50%;
  right: 24px;
  width: 80px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  padding-left: 4px;
  overflow: hidden;
  font-size: 1.2rem;
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/common/bg_recent_login.png) no-repeat 0 0;
  background-size: 80px 28px;
  color: #fff;
}

.login_container .login_content > div .connects a strong {
  color: inherit;
}

.login_container .login_content > div.signin {
  padding: 0;
}

.login_container .login_content > div.signin p {
  margin: 20px 0 18.75% 0;
}

@media (max-height: 600px) {
  .login_container .login_content > div.signin .connects {
    margin-bottom: 42px;
  }
}

.login_container .login_content > div.signup {
  background-color: #2d303f;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.55);
}

.login_container .login_content > div.signup h2 {
  margin-top: 25px;
}

.login_container .login_content > div.signup p {
  margin: 18.75% 0 20px 0;
  color: #fff;
  font-family: NanumSquare;
  font-weight: 600;
}

.login_container .login_content > div.signup .agree {
  width: 100%;
  margin: 17.5% 0 0;
  word-break: break-word;
  color: #a1a6c1;
}

.login_container .login_content > div.signup .agree a {
  font-weight: 600;
  color: #56ccf2;
}

.login_container .login_content > div.signup .connects a {
  padding-left: 58px;
}

.login_container .login_content > div.subscribe {
  background-color: #2d303f;
  padding-bottom: 20px;
  color: #fff;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.55);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.55);
}

.login_container .login_content > div.subscribe .subscribe_header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50px;
}

.login_container .login_content > div.subscribe .subscribe_header .user_name {
  display: block;
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 2px;
  padding-left: 5px;
}

.login_container .login_content > div.subscribe .subscribe_header .user_name > span {
  display: inline-block;
  vertical-align: top;
  max-width: calc(100% - 25px);
  color: #ffeb60;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
}

.login_container .login_content > div.subscribe .subscribe_header h3 {
  display: none;
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
}

.login_container .login_content > div.subscribe .subscribe_header h3:first-of-type {
  display: block;
}

.login_container .login_content > div.subscribe .subscribe_header h3 i {
  position: relative;
  top: -5px;
  left: 2px;
  font-size: 1.6rem;
}

.login_container .login_content > div.subscribe .subscribe_body {
  width: 100%;
  overflow: hidden;
  padding: 10px 0 29.31% 0;
}

@media (max-width: 320px) {
  .login_container .login_content > div.subscribe .subscribe_body {
    padding-bottom: 6%;
  }
}

.login_container .login_content > div.subscribe .subscribe_body .cards {
  width: 100%;
  position: relative;
  height: 0;
  padding-top: 96.55172413793103%;
  overflow: hidden;
}

.login_container .login_content > div.subscribe .subscribe_body .cards ul {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  will-change: transform;
}

.login_container .login_content > div.subscribe .subscribe_body .cards ul li {
  position: relative;
  height: 100%;
  background-color: #fff;
  color: #000;
  padding: 10.3448275862069%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  overflow: hidden;
}

.login_container .login_content > div.subscribe .subscribe_body .cards ul li h2 {
  font-size: 3rem;
  font-weight: 760;
  font-family: "NanumSquare";
  margin-bottom: 12px;
  word-break: keep-all;
}

.login_container .login_content > div.subscribe .subscribe_body .cards ul li p {
  font-size: 1.4rem;
  font-family: "NanumSquare";
  letter-spacing: initial;
}

.login_container .login_content > div.subscribe .subscribe_body .cards ul li:after {
  content: "";
  position: absolute;
  right: 10.3448275862069%;
  bottom: 10.3448275862069%;
  background: url(../images/common/spl_subscribe_cards.png) no-repeat 0 0;
  background-size: 367px 258px;
}

@media (max-width: 320px) {
  .login_container .login_content > div.subscribe .subscribe_body .cards ul li h2 {
    font-size: 2.2rem;
  }
}

.login_container .login_content > div.subscribe .subscribe_body .cards ul li.bg_01:after {
  width: 100px;
  height: 89px;
  background-position: -135px -146px;
}

.login_container .login_content > div.subscribe .subscribe_body .cards ul li.bg_02:after {
  width: 100px;
  height: 111px;
  background-position: -135px 0;
}

.login_container .login_content > div.subscribe .subscribe_body .cards ul li.bg_03:after {
  width: 100px;
  height: 109px;
  background-position: 0 -149px;
}

.login_container .login_content > div.subscribe .subscribe_body .cards ul li.bg_04:after {
  width: 100px;
  height: 114px;
  background-position: 0 0;
}

.login_container .login_content > div.subscribe .subscribe_body .cards ul li.bg_05:after {
  width: 97px;
  height: 116px;
  background-position: -270px 0;
}

.login_container .login_content > div.subscribe .subscribe_body .swiper-pagination {
  position: relative;
  margin-top: 16px;
  min-height: 15px;
}

.login_container .login_content > div.subscribe .subscribe_body .swiper-pagination-bullet {
  background-color: #ddd;
  opacity: 1;
  width: 7px;
  height: 7px;
  margin: 0 5px;
}

.login_container .login_content > div.subscribe .subscribe_body .swiper-pagination-bullet-active {
  background-color: #9268bb;
}

.login_container .login_content > div.subscribe .subscribe_footer {
  width: 100%;
}

.login_container .login_content > div.subscribe .subscribe_footer a {
  display: block;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: 0;
  background-color: #ffeb60;
  color: #181b2e;
  font-size: 1.8rem;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

@media (max-width: 320px) {
  .login_container .login_content {
    max-width: 290px;
    margin: 0;
  }
}

.login_container .login_millie {
  position: absolute;
  left: 50%;
  bottom: 3%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 0.5;
  margin: 0 !important;
}

.login_container .login_millie img {
  display: block;
}

.login_container .login_link {
  display: inline-block;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  margin-top: 12.5%;
  background: url(../images/btn/login_back.png) no-repeat 100% 50%;
  background-size: 14px auto;
  padding-right: 20px;
}

li {
    list-style: none !important;
}
/*# sourceMappingURL=layout.css.map */

